
ul li:hover a {
    color: #66D2FF;
}

.live-demo:hover {
    background-color: #66D2FF;
    color: white;
}
.contact-us:hover {
    background-color: #12a8ec;
    color: white;
}
.service:hover {
    background-color: #0c3f6b;
    color: white;
}
.service:hover h2, .service:hover p {
    color: white;
}