@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.tesimony {
  transition: all ease 500ms;
  
}
.testimony:hover {
  background-color: #06345C;
  
}
.testimony:hover h2, .testimony:hover p {
  color: white;
}